# Import libraries

In [1]:
import pandas as pd
import numpy as np

# Create variables for the given actual data

In [2]:
# Actual data

Prior_year_receivables = 1000000
Average_monthly_salary_per_employee = 2000
Cash_opening_balance = 1000000
Jan_supplier_payment = -500000       
Feb_supplier_payment = -600000       
Mar_supplier_payment = -500000      
Apr_supplier_payment = -1200000       
May_supplier_payment = -650000        
Jun_supplier_payment = -650000       
Jul_supplier_payment = -1400000      
Aug_supplier_payment = -850000        
Sep_supplier_payment = -700000       
Oct_supplier_payment = -1200000      
Nov_supplier_payment = -700000        
Dec_supplier_payment = -700000       
loan_payment = -10000
Income_tax_paid = -250000
Apr_Capex = -560000
Jul_Capex = -540000
Oct_Capex = -800000
Apr_Dividends = -1500000
Oct_Dividends = -1200000

# Create key assumptions for expected revenue and receivables for the year

In [3]:
# Create the dataframe

key = {'Description': ['Expected revenue for the year', 'Revenue by month (% of year)'],
        'January': ['20000000', '.05'],
        'February': ['0', '.05'],
        'March': ['0', '.1'],
        'April': ['0', '.05'],
        'May': ['0', '.05'],
        'June': ['0', '.2'],
        'July': ['0', '.05'],
        'August': ['0', '.05'],
        'September': ['0', '.1'],
        'October': ['0', '.05'],
        'November': ['0', '.05'],
        'December': ['0', '.2']}
                           
key_aassumptions = pd.DataFrame(key)

# Convert the object data to numerical

cols = key_aassumptions.columns.drop(['Description'])
key_aassumptions[cols] = key_aassumptions[cols].apply(pd.to_numeric, errors='coerce')


key_aassumptions

,Description,January,February,March,April,May,June,July,August,September,October,November,December
0,Expected revenue for the year,20000000.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0
1,Revenue by month (% of year),0.05,0.05,0.1,0.05,0.05,0.2,0.05,0.05,0.1,0.05,0.05,0.2

In [4]:
# Compute the revenue by month

jan_revneue = key_aassumptions.loc[0, 'January'] * key_aassumptions.loc[1, 'January']
Feb_revenue = key_aassumptions.loc[0, 'January'] * key_aassumptions.loc[1, 'February']
Mar_revenue = key_aassumptions.loc[0, 'January'] * key_aassumptions.loc[1, 'March']
Apr_revenue = key_aassumptions.loc[0, 'January'] * key_aassumptions.loc[1, 'April']
May_revenue = key_aassumptions.loc[0, 'January'] * key_aassumptions.loc[1, 'May']
Jun_revenue = key_aassumptions.loc[0, 'January'] * key_aassumptions.loc[1, 'June']
Jul_revenue = key_aassumptions.loc[0, 'January'] * key_aassumptions.loc[1, 'July']
Aug_revenue = key_aassumptions.loc[0, 'January'] * key_aassumptions.loc[1, 'August']
Sep_revenue = key_aassumptions.loc[0, 'January'] * key_aassumptions.loc[1, 'September']
Oct_revenue = key_aassumptions.loc[0, 'January'] * key_aassumptions.loc[1, 'October']
Nov_revenue = key_aassumptions.loc[0, 'January'] * key_aassumptions.loc[1, 'November']
Dec_revenue = key_aassumptions.loc[0, 'January'] * key_aassumptions.loc[1, 'December']

# Create a new row for the revenue per month

Expected_revenue_month = {'Description' : 'Expected revenue per month', 'January': jan_revneue,
                     'February': Feb_revenue, 'March': Mar_revenue, 'April': Apr_revenue,
                     'May': May_revenue, 'June': Jun_revenue, 'July': Jul_revenue,
                     'August': Aug_revenue, 'September': Sep_revenue, 'October': Oct_revenue,
                     'November': Nov_revenue, 'December': Dec_revenue}

# Create a new row for Prior year-end balance of receivables

Prior_receivables_balance = {'Description' : 'Prior year-end balance of receivables', 'January': Prior_year_receivables}




# Insert the new rows into the DataFrame
key_aassumptions.loc[len(key_aassumptions)] = Expected_revenue_month
key_aassumptions.loc[len(key_aassumptions)] = Prior_receivables_balance

# fill NaN values with zero
key_aassumptions.fillna(value=0, inplace=True)

key_aassumptions

,Description,January,February,March,April,May,June,July,August,September,October,November,December
0,Expected revenue for the year,20000000.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0
1,Revenue by month (% of year),0.05,0.05,0.1,0.05,0.05,0.2,0.05,0.05,0.1,0.05,0.05,0.2
2,Expected revenue per month,1000000.00,1000000.00,2000000.0,1000000.00,1000000.00,4000000.0,1000000.00,1000000.00,2000000.0,1000000.00,1000000.00,4000000.0
3,Prior year-end balance of receivables,1000000.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0

In [5]:
# Create a new row for Expected collections

Expected_collection = {'Description' : 'Expected collections by month(DSO=30 days)',
                     'January' : key_aassumptions.loc[3, 'January'],
                     'February': jan_revneue, 'March': Feb_revenue, 'April': Mar_revenue,
                     'May': Apr_revenue, 'June': May_revenue, 'July': Jun_revenue,
                     'August': Jul_revenue, 'September': Aug_revenue, 'October': Sep_revenue,
                     'November': Oct_revenue, 'December': Nov_revenue}

# Create a new row for Current year-end balance of receivables

curren_year_receivables_balance = {'Description' : 'Current year-end balance of receivables',
                                   'December': key_aassumptions.loc[2, 'December']}

# Insert the new rows into the DataFrame
key_aassumptions.loc[len(key_aassumptions)] = Expected_collection
key_aassumptions.loc[len(key_aassumptions)] = curren_year_receivables_balance

# fill NaN values with zero
key_aassumptions.fillna(value=0, inplace=True)

key_aassumptions.round(0)

,Description,January,February,March,April,May,June,July,August,September,October,November,December
0,Expected revenue for the year,20000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Revenue by month (% of year),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Expected revenue per month,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0,4000000.0,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0,4000000.0
3,Prior year-end balance of receivables,1000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Expected collections by month(DSO=30 days),1000000.0,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0,4000000.0,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0
5,Current year-end balance of receivables,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000000.0

# Create the company forecast headcount and  salaries

In [6]:
# Create the dataframe according to the given data

Headcount = {'Description': ['Headcount', 'Average monthly salary per employee', 'Bonuses/Vacation pay', 'KPIs'],
        'January': ['50', '2000', '0','0'],
        'February': ['50', '2000', '0','0'],
        'March': ['50', '2000', '0','0'],
        'April': ['55', '2000', '10000','0'],
        'May': ['55', '2000', '0','0'],
        'June': ['55', '2000', '0','15000'],
        'July': ['57', '2000','0','0'],
        'August': ['57', '2000','0','0'],
        'September': ['57', '2000','10000','0'],
        'October': ['60', '2000','0','0'],
        'November': ['60', '2000','0','0'],
        'December': ['60', '2000','10000','15000']}

salaries = pd.DataFrame(Headcount)
salaries

# Convert the object data to numerical

cols = salaries.columns.drop(['Description'])
salaries[cols] = salaries[cols].apply(pd.to_numeric, errors='coerce')

# Compute the total salary per month

jan_salary = salaries.loc[0, 'January'] * salaries.loc[1, 'January'] + salaries.loc[2:3,'January'].sum()
Feb_salary = salaries.loc[0, 'February'] * salaries.loc[1, 'February'] + salaries.loc[2:3, 'February'].sum()
Mar_salary = salaries.loc[0, 'March'] * salaries.loc[1, 'March'] + salaries.loc[2:3, 'March'].sum()
Apr_salary = salaries.loc[0, 'April'] * salaries.loc[1, 'April'] + salaries.loc[2:3, 'April'].sum()
May_salary = salaries.loc[0, 'May'] * salaries.loc[1, 'May'] + salaries.loc[2:3, 'May'].sum()
Jun_salary = salaries.loc[0, 'June'] * salaries.loc[1, 'June'] + salaries.loc[2:3, 'June'].sum()
Jul_salary = salaries.loc[0, 'July'] * salaries.loc[1, 'July'] + salaries.loc[2:3, 'July'].sum()
Aug_salary = salaries.loc[0, 'August'] * salaries.loc[1, 'August'] + salaries.loc[2:3, 'August'].sum()
Sep_salary = salaries.loc[0, 'September'] * salaries.loc[1, 'September'] + salaries.loc[2:3, 'September'].sum()
Oct_salary = salaries.loc[0, 'October'] * salaries.loc[1, 'October'] + salaries.loc[2:3, 'October'].sum()
Nov_salary = salaries.loc[0, 'November'] * salaries.loc[1, 'November'] + salaries.loc[2:3, 'November'].sum()
Dec_salary = salaries.loc[0, 'December'] * salaries.loc[1, 'December'] + salaries.loc[2:3, 'December'].sum()

# Create a new row for the salary per month

Salaries_paid_by_month = {'Description' : 'Salaries paid by month', 'January': jan_salary,
                     'February': Feb_salary, 'March': Mar_salary, 'April': Apr_salary,
                     'May': May_salary, 'June': Jun_salary, 'July': Jul_salary,
                     'August': Aug_salary, 'September': Sep_salary, 'October': Oct_salary,
                     'November': Nov_salary, 'December': Dec_salary}

# Insert the new rows into the DataFrame
salaries.loc[len(salaries)] = Salaries_paid_by_month
salaries

,Description,January,February,March,April,May,June,July,August,September,October,November,December
0,Headcount,50,50,50,55,55,55,57,57,57,60,60,60
1,Average monthly salary per employee,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000
2,Bonuses/Vacation pay,0,0,0,10000,0,0,0,0,10000,0,0,10000
3,KPIs,0,0,0,0,0,15000,0,0,0,0,0,15000
4,Salaries paid by month,100000,100000,100000,120000,110000,125000,114000,114000,124000,120000,120000,145000

# Compute the total of Cash flow from operating activities (CFOA)

In [7]:
# Define the data and create the DataFrame

Data_CFOA = {'Description': ['Cash opening balance', 'Cash flow from operating activities (CFOA)',
             'Cash receipts from customers (Receivable)', 'Cash paid to employees', 'Cash paid to suppliers (A.Payable)',
             'Interest paid on loans', 'Income tax paid'],
    'January': [Cash_opening_balance, '', Prior_year_receivables, jan_salary*-1, Jan_supplier_payment,loan_payment,
                Income_tax_paid],
        'February': [0 , '', jan_revneue, Feb_salary*-1, Feb_supplier_payment, loan_payment,'0'],
        'March': [ 0 , '', Feb_revenue, Mar_salary*-1, Mar_supplier_payment, loan_payment,'0'],
        'April': [ 0 , '', Mar_revenue, Apr_salary*-1, Apr_supplier_payment, loan_payment,'0'],
        'May': [0 , '', Apr_revenue, May_salary*-1, May_supplier_payment, loan_payment,'0'],
        'June': [0 , '', May_revenue, Jun_salary*-1, Jun_supplier_payment, loan_payment,'0'],
        'July': [0 , '', Jun_revenue, Jul_salary*-1, Jul_supplier_payment, loan_payment,'0'],
        'August': [0 , '', Jul_revenue, Aug_salary*-1, Aug_supplier_payment, loan_payment,'0'],
        'September': [0 , '', Aug_revenue, Sep_salary*-1, Sep_supplier_payment, loan_payment,'0'],
        'October': [0 , '', Sep_revenue, Oct_salary*-1, Oct_supplier_payment, loan_payment,'0'],
        'November': [0 , '', Oct_revenue, Nov_salary*-1, Nov_supplier_payment, loan_payment,'0'],
        'December': [0 , '', Nov_revenue, Dec_salary*-1, Dec_supplier_payment, loan_payment,'0']}

CFOA = pd.DataFrame(Data_CFOA)



# Compute the sum of (CFOA)
jan_total = CFOA.loc[2:6, 'January'].astype(float).sum()
Feb_total = CFOA.loc[2:6, 'February'].astype(float).sum()
Mar_total = CFOA.loc[2:6, 'March'].astype(float).sum()
Apr_total = CFOA.loc[2:6, 'April'].astype(float).sum()
May_total = CFOA.loc[2:6, 'May'].astype(float).sum()
Jun_total = CFOA.loc[2:6, 'June'].astype(float).sum()
Jul_total = CFOA.loc[2:6, 'July'].astype(float).sum()
Aug_total = CFOA.loc[2:6, 'August'].astype(float).sum()
Sep_total = CFOA.loc[2:6, 'September'].astype(float).sum()
Oct_total = CFOA.loc[2:6, 'October'].astype(float).sum()
Nov_total = CFOA.loc[2:6, 'November'].astype(float).sum()
Dec_total = CFOA.loc[2:6, 'December'].astype(float).sum()

# Create a new row with the sum of (CFOA)
net_cash_provided = {'Description': 'Net cash provided by operating activities', 'January': jan_total,
                     'February': Feb_total, 'March': Mar_total, 'April': Apr_total,
                     'May': May_total, 'June': Jun_total, 'July': Jul_total,
                     'August': Aug_total, 'September': Sep_total, 'October': Oct_total,
                     'November': Nov_total, 'December': Dec_total}



# Insert the new row into the DataFrame
CFOA.loc[len(CFOA)] = net_cash_provided


CFOA

,Description,January,February,March,April,May,June,July,August,September,October,November,December
0,Cash opening balance,1000000,0,0,0,0,0,0,0,0,0,0,0
1,Cash flow from operating activities (CFOA),,,,,,,,,,,,
2,Cash receipts from customers (Receivable),1000000,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0,4000000.0,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0
3,Cash paid to employees,-100000,-100000,-100000,-120000,-110000,-125000,-114000,-114000,-124000,-120000,-120000,-145000
4,Cash paid to suppliers (A.Payable),-500000,-600000,-500000,-1200000,-650000,-650000,-1400000,-850000,-700000,-1200000,-700000,-700000
5,Interest paid on loans,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000
6,Income tax paid,-250000,0,0,0,0,0,0,0,0,0,0,0
7,Net cash provided by operating activities,140000.0,290000.0,390000.0,670000.0,230000.0,215000.0,2476000.0,26000.0,166000.0,670000.0,170000.0,145000.0

# Compute the total of Cash flow from investing activities (CFIA)

In [8]:
# Define the data and create the DataFrame
Data_CFIA = {'Description': ['Cash flow from investing activities (CFIA)', 'Purchase of PPE (Capex)','Acquistion'],
            'January': ['', '0', '0'], 'February': ['', '0', '0'], 'March': ['', '0', '0'], 'April': ['', Apr_Capex, '0'],
             'May': ['', '0', '0'], 'June': ['', '0', '0'], 'July': ['', Jul_Capex, '0'], 'August': ['', '0', '0'],
             'September': ['', '0', '0'],'October': ['', Oct_Capex, '0'], 'November': ['', '0', '0'],'December': ['', '0', '0']}

CFIA = pd.DataFrame(Data_CFIA)

# Create a new row with the sum of (CFIA)
net_cash_provided_CFIA = {'Description': 'Net cash provided by investing activities',
                     'January': CFIA.loc[1:4, 'January'].astype(float).sum(),'February': CFIA.loc[1:4, 'February'].astype(float).sum(),
                     'March': CFIA.loc[1:4, 'March'].astype(float).sum(),'April': CFIA.loc[1:4, 'April'].astype(float).sum(),
                     'May': CFIA.loc[1:4, 'May'].astype(float).sum(),'June': CFIA.loc[1:4, 'June'].astype(float).sum(),
                     'July': CFIA.loc[1:4, 'July'].astype(float).sum(),'August': CFIA.loc[1:4, 'August'].astype(float).sum(),
                     'September': CFIA.loc[1:4, 'September'].astype(float).sum(),'October': CFIA.loc[1:4, 'October'].astype(float).sum(),
                     'November': CFIA.loc[1:4, 'November'].astype(float).sum(),'December': CFIA.loc[1:4, 'December'].astype(float).sum()}

# Insert the new row into the DataFrame
CFIA.loc[len(CFIA)] = net_cash_provided_CFIA

CFIA

,Description,January,February,March,April,May,June,July,August,September,October,November,December
0,Cash flow from investing activities (CFIA),,,,,,,,,,,,
1,Purchase of PPE (Capex),0,0,0,-560000,0,0,-540000,0,0,-800000,0,0
2,Acquistion,0,0,0,0,0,0,0,0,0,0,0,0
3,Net cash provided by investing activities,0.0,0.0,0.0,-560000.0,0.0,0.0,-540000.0,0.0,0.0,-800000.0,0.0,0.0

# Compute the total of Cash flow from financing activities (CFFA)

In [9]:
# Define the data and create the DataFrame
Data_CFFA = {'Description': ['Cash flow from financing activities (CFFA)', 'Proceeds from issuance of debt (Loan)',
                             'Capital from shareholders', 'Repayment of debt', 'Dividends paid to shareholders'],
            'January': ['', '0', '0','0','0'], 'February': ['', '0', '0','0','0'], 'March': ['', '0', '0','0','0'],
             'April': ['', '0', '0','0',Apr_Dividends],'May': ['', '0', '0','0','0'], 'June': ['', '0', '0','0','0'],
             'July': ['', '0', '0','0','0'], 'August': ['', '0', '0','0','0'], 'September': ['', '0', '0','0','0'], 
             'October': ['', '0', '0','0',Oct_Dividends], 'November': ['', '0', '0','0','0'],'December': ['', '0', '0','0','0']}

CFFA = pd.DataFrame(Data_CFFA)


# Create a new row with the sum of (CFFA)
net_cash_provided_CFFA = {'Description': 'Net cash provided by Financing activities',
                     'January': CFFA.loc[1:4, 'January'].astype(float).sum(),'February': CFFA.loc[1:4, 'February'].astype(float).sum(),
                     'March': CFFA.loc[1:4, 'March'].astype(float).sum(),'April': CFFA.loc[1:4, 'April'].astype(float).sum(),
                     'May': CFFA.loc[1:4, 'May'].astype(float).sum(),'June': CFFA.loc[1:4, 'June'].astype(float).sum(),
                     'July': CFFA.loc[1:4, 'July'].astype(float).sum(),'August': CFFA.loc[1:4, 'August'].astype(float).sum(),
                     'September': CFFA.loc[1:4, 'September'].astype(float).sum(),'October': CFFA.loc[1:4, 'October'].astype(float).sum(),
                     'November': CFFA.loc[1:4, 'November'].astype(float).sum(),'December': CFFA.loc[1:4, 'December'].astype(float).sum()}

# Insert the new row into the DataFrame
CFFA.loc[len(CFFA)] = net_cash_provided_CFFA


CFFA

,Description,January,February,March,April,May,June,July,August,September,October,November,December
0,Cash flow from financing activities (CFFA),,,,,,,,,,,,
1,Proceeds from issuance of debt (Loan),0,0,0,0,0,0,0,0,0,0,0,0
2,Capital from shareholders,0,0,0,0,0,0,0,0,0,0,0,0
3,Repayment of debt,0,0,0,0,0,0,0,0,0,0,0,0
4,Dividends paid to shareholders,0,0,0,-1500000,0,0,0,0,0,-1200000,0,0
5,Net cash provided by Financing activities,0.0,0.0,0.0,-1500000.0,0.0,0.0,0.0,0.0,0.0,-1200000.0,0.0,0.0

In [28]:
CF = pd.concat([CFOA, CFIA, CFFA])
CF.reset_index(drop=True, inplace=True)
CF

,Description,January,February,March,April,May,June,July,August,September,October,November,December
0,Cash opening balance,1000000,0,0,0,0,0,0,0,0,0,0,0
1,Cash flow from operating activities (CFOA),,,,,,,,,,,,
2,Cash receipts from customers (Receivable),1000000,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0,4000000.0,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0
3,Cash paid to employees,-100000,-100000,-100000,-120000,-110000,-125000,-114000,-114000,-124000,-120000,-120000,-145000
4,Cash paid to suppliers (A.Payable),-500000,-600000,-500000,-1200000,-650000,-650000,-1400000,-850000,-700000,-1200000,-700000,-700000
5,Interest paid on loans,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000
6,Income tax paid,-250000,0,0,0,0,0,0,0,0,0,0,0
7,Net cash provided by operating activities,140000.0,290000.0,390000.0,670000.0,230000.0,215000.0,2476000.0,26000.0,166000.0,670000.0,170000.0,145000.0
8,Cash flow from investing activities (CFIA),,,,,,,,,,,,
9,Purchase of PPE (Capex),0,0,0,-560000,0,0,-540000,0,0,-800000,0,0
10,Acquistion,0,0,0,0,0,0,0,0,0,0,0,0
11,Net cash provided by investing activities,0.0,0.0,0.0,-560000.0,0.0,0.0,-540000.0,0.0,0.0,-800000.0,0.0,0.0
12,Cash flow from financing activities (CFFA),,,,,,,,,,,,
13,Proceeds from issuance of debt (Loan),0,0,0,0,0,0,0,0,0,0,0,0
14,Capital from shareholders,0,0,0,0,0,0,0,0,0,0,0,0
15,Repayment of debt,0,0,0,0,0,0,0,0,0,0,0,0
16,Dividends paid to shareholders,0,0,0,-1500000,0,0,0,0,0,-1200000,0,0
17,Net cash provided by Financing activities,0.0,0.0,0.0,-1500000.0,0.0,0.0,0.0,0.0,0.0,-1200000.0,0.0,0.0

In [29]:
# Create a new row with the total activities per month

total_activities = {'Description': 'total activities',
                   'January': CF.loc[[0,7,11,17], 'January'].sum(),
                   'February' : CF.loc[[0,7,11,17], 'February'].sum(),
                   'March': CF.loc[[0,7,11,17], 'March'].sum(),
                   'April': CF.loc[[0,7,11,17], 'April'].sum(),
                   'May': CF.loc[[0,7,11,17], 'May'].sum(),
                   'June': CF.loc[[0,7,11,17], 'June'].sum(),
                   'July': CF.loc[[0,7,11,17], 'July'].sum(),
                   'August': CF.loc[[0,7,11,17], 'August'].sum(),
                   'September': CF.loc[[0,7,11,17], 'September'].sum(),
                   'October': CF.loc[[0,7,11,17], 'October'].sum(),
                   'November': CF.loc[[0,7,11,17], 'November'].sum(),
                   'December': CF.loc[[0,7,11,17], 'December'].sum()}

# Insert the new row into the DataFrame
CF.loc[len(CF)] = total_activities
CF

,Description,January,February,March,April,May,June,July,August,September,October,November,December
0,Cash opening balance,1000000,0,0,0,0,0,0,0,0,0,0,0
1,Cash flow from operating activities (CFOA),,,,,,,,,,,,
2,Cash receipts from customers (Receivable),1000000,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0,4000000.0,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0
3,Cash paid to employees,-100000,-100000,-100000,-120000,-110000,-125000,-114000,-114000,-124000,-120000,-120000,-145000
4,Cash paid to suppliers (A.Payable),-500000,-600000,-500000,-1200000,-650000,-650000,-1400000,-850000,-700000,-1200000,-700000,-700000
5,Interest paid on loans,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000
6,Income tax paid,-250000,0,0,0,0,0,0,0,0,0,0,0
7,Net cash provided by operating activities,140000.0,290000.0,390000.0,670000.0,230000.0,215000.0,2476000.0,26000.0,166000.0,670000.0,170000.0,145000.0
8,Cash flow from investing activities (CFIA),,,,,,,,,,,,
9,Purchase of PPE (Capex),0,0,0,-560000,0,0,-540000,0,0,-800000,0,0
10,Acquistion,0,0,0,0,0,0,0,0,0,0,0,0
11,Net cash provided by investing activities,0.0,0.0,0.0,-560000.0,0.0,0.0,-540000.0,0.0,0.0,-800000.0,0.0,0.0
12,Cash flow from financing activities (CFFA),,,,,,,,,,,,
13,Proceeds from issuance of debt (Loan),0,0,0,0,0,0,0,0,0,0,0,0
14,Capital from shareholders,0,0,0,0,0,0,0,0,0,0,0,0
15,Repayment of debt,0,0,0,0,0,0,0,0,0,0,0,0
16,Dividends paid to shareholders,0,0,0,-1500000,0,0,0,0,0,-1200000,0,0
17,Net cash provided by Financing activities,0.0,0.0,0.0,-1500000.0,0.0,0.0,0.0,0.0,0.0,-1200000.0,0.0,0.0
18,total activities,1140000.0,290000.0,390000.0,-1390000.0,230000.0,215000.0,1936000.0,26000.0,166000.0,-1330000.0,170000.0,145000.0

In [31]:
# Compute the cash ending balance:

jan_ending = ahmed.loc[18, 'January']
Feb_ending = CF.loc[18, 'January'] + CF.loc[18, 'February']
Mar_ending = CF.loc[18, 'January'] + CF.loc[18, 'February'] + CF.loc[18, 'March']
Apr_ending = CF.loc[18, 'January'] + CF.loc[18, 'February'] + CF.loc[18, 'March']+ CF.loc[18, 'April']
May_ending = CF.loc[18, 'January'] + CF.loc[18, 'February'] + CF.loc[18, 'March']+ CF.loc[18, 'April'] + CF.loc[18, 'May']
Jun_ending = CF.loc[18, 'January'] + CF.loc[18, 'February'] + CF.loc[18, 'March']+ CF.loc[18, 'April'] + CF.loc[18, 'May'] + CF.loc[18, 'June']
Jul_ending = CF.loc[18, 'January'] + CF.loc[18, 'February'] + CF.loc[18, 'March']+ CF.loc[18, 'April'] + CF.loc[18, 'May'] + CF.loc[18, 'June'] + CF.loc[18, 'July']
Aug_ending = CF.loc[18, 'January'] + CF.loc[18, 'February'] + CF.loc[18, 'March']+ CF.loc[18, 'April'] + CF.loc[18, 'May'] + CF.loc[18, 'June'] + CF.loc[18, 'July'] + CF.loc[18, 'August']
Sep_ending = CF.loc[18, 'January'] + CF.loc[18, 'February'] + CF.loc[18, 'March']+ CF.loc[18, 'April'] + CF.loc[18, 'May'] + CF.loc[18, 'June'] + CF.loc[18, 'July'] + CF.loc[18, 'August'] + CF.loc[18, 'September']
Oct_ending = CF.loc[18, 'January'] + CF.loc[18, 'February'] + CF.loc[18, 'March']+ CF.loc[18, 'April'] + CF.loc[18, 'May'] + CF.loc[18, 'June'] + CF.loc[18, 'July'] + CF.loc[18, 'August'] + CF.loc[18, 'September'] + CF.loc[18, 'October']
Nov_ending = CF.loc[18, 'January'] + CF.loc[18, 'February'] + CF.loc[18, 'March']+ CF.loc[18, 'April'] + CF.loc[18, 'May'] + CF.loc[18, 'June'] + CF.loc[18, 'July'] + CF.loc[18, 'August'] + CF.loc[18, 'September'] + CF.loc[18, 'October'] + CF.loc[18, 'November']
Dec_ending = CF.loc[18, 'January'] + CF.loc[18, 'February'] + CF.loc[18, 'March']+ CF.loc[18, 'April'] + CF.loc[18, 'May'] + CF.loc[18, 'June'] + CF.loc[18, 'July'] + CF.loc[18, 'August'] + CF.loc[18, 'September'] + CF.loc[18, 'October'] + CF.loc[18, 'November'] + CF.loc[18, 'December']

# Create a new row with the sum of cash ending balance:
cash_ending_balance = {'Description': 'Cash Ending balance',
                     'January': jan_ending,'February': Feb_ending, 'March': Mar_ending,'April': Apr_ending,'May': May_ending,
                     'June': Jun_ending,'July': Jul_ending,'August': Aug_ending,'September': Sep_ending,'October': Oct_ending,
                     'November': Nov_ending,'December': Dec_ending}

# Insert the new row into the DataFrame:
CF.loc[len(CF)] = cash_ending_balance
CF

,Description,January,February,March,April,May,June,July,August,September,October,November,December
0,Cash opening balance,1000000,0,0,0,0,0,0,0,0,0,0,0
1,Cash flow from operating activities (CFOA),,,,,,,,,,,,
2,Cash receipts from customers (Receivable),1000000,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0,4000000.0,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0
3,Cash paid to employees,-100000,-100000,-100000,-120000,-110000,-125000,-114000,-114000,-124000,-120000,-120000,-145000
4,Cash paid to suppliers (A.Payable),-500000,-600000,-500000,-1200000,-650000,-650000,-1400000,-850000,-700000,-1200000,-700000,-700000
5,Interest paid on loans,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000
6,Income tax paid,-250000,0,0,0,0,0,0,0,0,0,0,0
7,Net cash provided by operating activities,140000.0,290000.0,390000.0,670000.0,230000.0,215000.0,2476000.0,26000.0,166000.0,670000.0,170000.0,145000.0
8,Cash flow from investing activities (CFIA),,,,,,,,,,,,
9,Purchase of PPE (Capex),0,0,0,-560000,0,0,-540000,0,0,-800000,0,0
10,Acquistion,0,0,0,0,0,0,0,0,0,0,0,0
11,Net cash provided by investing activities,0.0,0.0,0.0,-560000.0,0.0,0.0,-540000.0,0.0,0.0,-800000.0,0.0,0.0
12,Cash flow from financing activities (CFFA),,,,,,,,,,,,
13,Proceeds from issuance of debt (Loan),0,0,0,0,0,0,0,0,0,0,0,0
14,Capital from shareholders,0,0,0,0,0,0,0,0,0,0,0,0
15,Repayment of debt,0,0,0,0,0,0,0,0,0,0,0,0
16,Dividends paid to shareholders,0,0,0,-1500000,0,0,0,0,0,-1200000,0,0
17,Net cash provided by Financing activities,0.0,0.0,0.0,-1500000.0,0.0,0.0,0.0,0.0,0.0,-1200000.0,0.0,0.0
18,total activities,1140000.0,290000.0,390000.0,-1390000.0,230000.0,215000.0,1936000.0,26000.0,166000.0,-1330000.0,170000.0,145000.0
19,Cash Ending balance,1140000.0,1430000.0,1820000.0,430000.0,660000.0,875000.0,2811000.0,2837000.0,3003000.0,1673000.0,1843000.0,1988000.0

In [41]:
# Compute the cash opening balance from Feb to Dec:

CF.loc[CF['Description'] == 'Cash opening balance', 'January':'December'] = [Cash_opening_balance,
                        jan_ending, Feb_ending, Mar_ending, Apr_ending, May_ending, Jun_ending, Jul_ending, Aug_ending,
                        Sep_ending, Oct_ending, Nov_ending]
CF.set_index('Description')

,January,February,March,April,May,June,July,August,September,October,November,December
Description,,,,,,,,,,,,
Cash opening balance,1000000,1140000.0,1430000.0,1820000.0,430000.0,660000.0,875000.0,2811000.0,2837000.0,3003000.0,1673000.0,1843000.0
Cash flow from operating activities (CFOA),,,,,,,,,,,,
Cash receipts from customers (Receivable),1000000,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0,4000000.0,1000000.0,1000000.0,2000000.0,1000000.0,1000000.0
Cash paid to employees,-100000,-100000,-100000,-120000,-110000,-125000,-114000,-114000,-124000,-120000,-120000,-145000
Cash paid to suppliers (A.Payable),-500000,-600000,-500000,-1200000,-650000,-650000,-1400000,-850000,-700000,-1200000,-700000,-700000
Interest paid on loans,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000,-10000
Income tax paid,-250000,0,0,0,0,0,0,0,0,0,0,0
Net cash provided by operating activities,140000.0,290000.0,390000.0,670000.0,230000.0,215000.0,2476000.0,26000.0,166000.0,670000.0,170000.0,145000.0
Cash flow from investing activities (CFIA),,,,,,,,,,,,
Purchase of PPE (Capex),0,0,0,-560000,0,0,-540000,0,0,-800000,0,0
Acquistion,0,0,0,0,0,0,0,0,0,0,0,0
Net cash provided by investing activities,0.0,0.0,0.0,-560000.0,0.0,0.0,-540000.0,0.0,0.0,-800000.0,0.0,0.0
Cash flow from financing activities (CFFA),,,,,,,,,,,,
Proceeds from issuance of debt (Loan),0,0,0,0,0,0,0,0,0,0,0,0
Capital from shareholders,0,0,0,0,0,0,0,0,0,0,0,0
Repayment of debt,0,0,0,0,0,0,0,0,0,0,0,0
Dividends paid to shareholders,0,0,0,-1500000,0,0,0,0,0,-1200000,0,0
Net cash provided by Financing activities,0.0,0.0,0.0,-1500000.0,0.0,0.0,0.0,0.0,0.0,-1200000.0,0.0,0.0
total activities,1140000.0,290000.0,390000.0,-1390000.0,230000.0,215000.0,1936000.0,26000.0,166000.0,-1330000.0,170000.0,145000.0
Cash Ending balance,1140000.0,1430000.0,1820000.0,430000.0,660000.0,875000.0,2811000.0,2837000.0,3003000.0,1673000.0,1843000.0,1988000.0

In [42]:
CF.to_csv('Cash Flow Forecast.csv',index=False)